<br>
<br>
<div class="text-light">
    <div class="container col-11 offset-1">
        <h3 class="h3">Search results for: {{searchData}}</h3>
    </div>
    <div class="container col-12">
        <ul class="nav justify-content-center row p-2">
            <li *ngFor="let movie of results | slice:0:20" class="col-sm-2 col-12 nav-item rounded text-center carousel-cell">
                <img src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}" style="cursor: pointer;" routerLink="/Movies/{{movie.id}}">
                <h5 class="h5" style="cursor: pointer;" routerLink="/Movies/{{movie.id}}">{{movie.title}}</h5>
            </li>
        </ul>
    </div>
</div>